{% extends 'base.html.twig' %}

{% block title %}Recette aléatoire{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div style="display:flex; justify-content: right;">
            <a class="btn btn-primary m-3" href="{{ path ('app_random_recipe')}}">Recette aléatoire</a>
            {% if app.user %}
                <a class="btn btn-info m-3" href="{{ path ('app_logout')}}">Déconnexion</a>
            {% else %}
                <a class="btn btn-info m-3" href="{{ path ('app_login')}}">Connexion</a>
            {% endif %}
        </div>
        <h1 class="mb-5">Toutes les recettes</h1>

        {% for recipe in recipes %}
            <ul>
                <li>Nom : {{ recipe.name }}</li>
                <li>Ingrédients : 
                    {% for ingredient in recipe.ingredients %}
                        {{ ingredient }}, 
                    {% endfor %}
                </li>
                <li>Temps de préparation : {{ recipe.preparationTime }}</li>
                <li>Temps de cuisson : {{ recipe.cookingTime }}</li>
                <li>Nb de personnes : {{ recipe.serves }}</li>
            </ul>
            <a class="btn btn-danger mx-3 mb-5" href="{{ path ('app_comment_new', {id:recipe.id})}}">Commenter</a>
        {% endfor %}

    </div>
    
{% endblock %}
